snippet hl
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
snippet utc
	`system('date -u +%H%M%S')`
snippet udc
	`system('date -u +%Y%m%d')`
snippet udtc
	`system('date -u +%Y%m%du%H%M%S')`
snippet urzc
	`system('date -u +%Y%m%du%H%M%S')`-utc(`system("date +%z")`)
snippet udate
	`system('date -u +%Y-%m-%d')`
snippet [t
	[TODO]
